In [1]:
import numpy as np
import pandas as pd

# Timestamp

In [2]:
pd.Timestamp('4th August 2023 9:32')

Timestamp('2023-08-04 09:32:00')

In [4]:
pd.Timestamp('4th August 2023 9:32').date()

datetime.date(2023, 8, 4)

In [6]:
pd.Timestamp('4th August 2023 9:32').year

2023

In [7]:
pd.Timestamp('4th August 2023 9:32').month

8

In [8]:
pd.Timestamp('4th August 2023 9:32').day

4

In [9]:
pd.Timestamp('4th August 2023 9:32').hour

9

In [10]:
pd.Timestamp('4th August 2023 9:32').minute

32

In [11]:
pd.Timestamp('4th August 2023 9:32').quarter

3

# Datetime Index

In [13]:
pd.DatetimeIndex([pd.Timestamp('4th August 2023 9:32'),pd.Timestamp('5th August 2023 9:32'),pd.Timestamp('6th August 2023 9:32')])

DatetimeIndex(['2023-08-04 09:32:00', '2023-08-05 09:32:00',
               '2023-08-06 09:32:00'],
              dtype='datetime64[ns]', freq=None)

In [14]:
pd.DatetimeIndex([pd.Timestamp('4th August 2023 9:32'),pd.Timestamp('5th August 2023 9:32'),pd.Timestamp('6th August 2023 9:32')])[0]

Timestamp('2023-08-04 09:32:00')

In [17]:
pd.DatetimeIndex([pd.Timestamp('4th August 2023 9:32'),pd.Timestamp('5th August 2023 9:32')]).date

array([datetime.date(2023, 8, 4), datetime.date(2023, 8, 5)], dtype=object)

In [19]:
pd.DatetimeIndex([pd.Timestamp('4th August 2023 9:32'),pd.Timestamp('5th August 2023 9:32')]).day

Int64Index([4, 5], dtype='int64')

In [ ]:
# this DatetimeIndex can be set as index of df and series

# date_range()

In [20]:
# will print timestamps in given range.. i.e gives a DatetimeIndex Object
pd.date_range(start='2023-8-4',end='2023-8-14') #default frequency is daily

DatetimeIndex(['2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07',
               '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11',
               '2023-08-12', '2023-08-13', '2023-08-14'],
              dtype='datetime64[ns]', freq='D')

In [21]:
pd.date_range(start='2023-8-4',end='2023-8-14',freq='D')

DatetimeIndex(['2023-08-04', '2023-08-05', '2023-08-06', '2023-08-07',
               '2023-08-08', '2023-08-09', '2023-08-10', '2023-08-11',
               '2023-08-12', '2023-08-13', '2023-08-14'],
              dtype='datetime64[ns]', freq='D')

In [22]:
pd.date_range(start='2023-8-4',end='2023-8-14',freq='2D')

DatetimeIndex(['2023-08-04', '2023-08-06', '2023-08-08', '2023-08-10',
               '2023-08-12', '2023-08-14'],
              dtype='datetime64[ns]', freq='2D')

# to_datetime()

In [36]:
# will convert a given column in diff. format to 'datetime' format.

In [39]:
s= pd.Series(['2023/3/5','2023/5/7','2023/6/8'])    # date is in string(object) format
s

0    2023/3/5
1    2023/5/7
2    2023/6/8
dtype: object

In [40]:
pd.to_datetime(s)  # gives a DatetimeIndex object

0   2023-03-05
1   2023-05-07
2   2023-06-08
dtype: datetime64[ns]

In [41]:
pd.to_datetime(s).dt.month_name()

0    March
1      May
2     June
dtype: object

In [42]:
pd.to_datetime(s).dt.day_name()

0      Sunday
1      Sunday
2    Thursday
dtype: object

In [45]:
pd.to_datetime(s).dt.day

0    5
1    7
2    8
dtype: int64

# Timedelta Object

In [ ]:
# gives diff. b/w 2 timestamps.. (b/w 2 dates or times)

In [58]:
# by using Timmestamp objects

t1 = pd.Timestamp('5th july 2023')

In [59]:
t2 = pd.Timestamp('4th aug 2023')

In [60]:
t2 - t1

Timedelta('30 days 00:00:00')

In [61]:
t1 - t2

Timedelta('-30 days +00:00:00')

In [62]:
# standalone creation

pd.Timedelta(days=2)

Timedelta('2 days 00:00:00')

In [63]:
pd.Timedelta(days=2,hours=10)

Timedelta('2 days 10:00:00')

In [64]:
pd.Timedelta(days=2,hours=10,minutes=50)

Timedelta('2 days 10:50:00')

In [65]:
# by using this u can perform arithmetic operations on existing timestamps

pd.Timestamp('5th july 2023') + pd.Timedelta(days=2,hours=10,minutes=50)

Timestamp('2023-07-07 10:50:00')

In [68]:
# this also works for set of timestamps

pd.date_range(start='2023-07-01',end='2023-7-31') + pd.Timedelta(days=2,hours=10,minutes=50)

DatetimeIndex(['2023-07-03 10:50:00', '2023-07-04 10:50:00',
               '2023-07-05 10:50:00', '2023-07-06 10:50:00',
               '2023-07-07 10:50:00', '2023-07-08 10:50:00',
               '2023-07-09 10:50:00', '2023-07-10 10:50:00',
               '2023-07-11 10:50:00', '2023-07-12 10:50:00',
               '2023-07-13 10:50:00', '2023-07-14 10:50:00',
               '2023-07-15 10:50:00', '2023-07-16 10:50:00',
               '2023-07-17 10:50:00', '2023-07-18 10:50:00',
               '2023-07-19 10:50:00', '2023-07-20 10:50:00',
               '2023-07-21 10:50:00', '2023-07-22 10:50:00',
               '2023-07-23 10:50:00', '2023-07-24 10:50:00',
               '2023-07-25 10:50:00', '2023-07-26 10:50:00',
               '2023-07-27 10:50:00', '2023-07-28 10:50:00',
               '2023-07-29 10:50:00', '2023-07-30 10:50:00',
               '2023-07-31 10:50:00', '2023-08-01 10:50:00',
               '2023-08-02 10:50:00'],
              dtype='datetime64[ns]', freq='D')

In [70]:
# real data example
df = pd.read_csv('deliveries.csv')
df.head()

  order_date delivery_date
0    5/24/98        2/5/99
1    4/22/92        3/6/98
2    2/10/91       8/26/92
3    7/21/92      11/20/97
4     9/2/93       6/10/98

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    object
 1   delivery_date  501 non-null    object
dtypes: object(2)
memory usage: 8.0+ KB

In [74]:
# dates are in string format

df['order_date'] = pd.to_datetime(df['order_date'])

In [75]:
df['delivery_date'] = pd.to_datetime(df['delivery_date'])

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 501 entries, 0 to 500
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_date     501 non-null    datetime64[ns]
 1   delivery_date  501 non-null    datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 8.0 KB

In [77]:
df['delivery_date']-df['order_date'] #gives a series. Each item in the series is a Timedelta

0      257 days
1     2144 days
2      563 days
3     1948 days
4     1742 days
         ...
496   1684 days
497   2394 days
498   2719 days
499     10 days
500    637 days
Length: 501, dtype: timedelta64[ns]

In [78]:
df['delivery_time_period'] = df['delivery_date']-df['order_date']

In [79]:
df.head()

  order_date delivery_date delivery_time_period
0 1998-05-24    1999-02-05             257 days
1 1992-04-22    1998-03-06            2144 days
2 1991-02-10    1992-08-26             563 days
3 1992-07-21    1997-11-20            1948 days
4 1993-09-02    1998-06-10            1742 days

In [81]:

# avg delievery time
df['delivery_time_period'].mean()

Timedelta('1217 days 22:53:53.532934128')

# Time series:-


A time series is a data set that tracks a sample over time. In particular, a time series allows one to see what factors influence certain variables from period to period. Time series analysis can be useful to see how a given asset, security, or economic variable changes over time.

Examples:-

. Financial Data (Company stocks)
. Natural Data (Rainfall measurement)
. Event Data (Covid)
. Medical Data (Heart rate monitoring)


Types of Operations done on Time Series:-

. Time Series Analysis
. Time Series Forecasting